@import "tailwindcss";

@theme {
  --font-raleway: "Raleway", sans-serif;
}

@layer base {
  @font-face {
    font-family: 'Lato';
    src: url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;500;600;700;800;900&display=swap');
  }

  body {
    font-family: 'Lato', sans-serif;
  }
}