@import "tailwindcss";

/* @theme {
  --font-raleway: "Raleway", sans-serif;
} */
@keyframes marquee {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}

.animate-marquee {
  animation: marquee 55s linear infinite;
}

.hover\:animation-paused:hover {
  animation-play-state: paused;
}


@layer base {
  @font-face {
    font-family: 'Lato';
    src: url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;500;600;700;800;900&display=swap');
  }

  body {
    font-family: 'Lato', sans-serif;
  }
  
}
.animation-paused {
  animation-play-state: paused;
}